.BNSParentContainer {
  justify-content: center;
  align-content: center;
}

.BNSCard {
  justify-content: center;
  align-items: center;
  height: 50%;
}

.BNSBody {
  font-size: 0.7em;
  height: 30%;
  text-align: center;
  font-family: "OpenSans-Regular";
}

.BNSTitle {
  text-align: center;
  font-family: "Roboto-Regular";
}

.BNSImageContainer {
  width: 50%;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-around;
}

.BNSBrowsersImage {
  height: auto;
  width: 100%;
  max-width: 50px;
}