.CustomFontSize {
  font-size: calc(1em + 1vw);
}

.Flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.PageElements {
  display: flex;
  min-height: 90%;
  flex-direction: row;
  justify-content: space-evenly;
}

.LogosAndFilter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
  margin: 10px;
}

.Chart {
  width: 50%;
  margin: 10px;
  align-items: center;
  align-content: center;
}

.DailyAndTable {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  width: 20%;
  margin: 10px;
  flex-direction: column;
}