.CustomFontSize {
  font-size: calc(1em + 1vw);
  font-family: "open_sansregular";
}

.Nav {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #002A5A;
  color: white;
}

.NavTextContainer {
  display: flex;
  align-items: center;
  width: 70%;
  height: 100%;
}

.NavRefs {
  display: flex;
  align-items: center;
  font-size: 0.4em;
  height: 100%;
  width: 30%;
  justify-content: space-evenly;
}

.NavRefs a {
  display: flex;
  align-items: center;
  height: 70%;
}

.NavRefs a:hover {
  background-color: red;
}

.NavText {
  font-size: 0.6em;
  margin-left: 10px;
}