.NFarentContainer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.NFCard {
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 60%;
  width: 35%;
}

.NFTitles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "robotoregular";
  height: 50%;
}

#NFCode {
  font-size: 5em;
  font-weight: bold;
}

#NFTitle {
  font-size: 1em;
  font-weight: bold;
}

.NFBody {
  font-family: "open_sansregular";
}

#NFBodyBody {
  font-size: 0.70em;
}

.NFButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "open_sansregularr";
  font-size: 0.45em;
  height: 9%;
  width: 35%;
  border-radius: 10px;
  cursor: pointer;
}

#NFButtonStyle {
  text-decoration: none;
  color: white;
}