html { 
  font-size: calc(1em + 1vw);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: local('OpenSans-Regular'), url(./fonts/Open_Sans/OpenSans-Regular.ttf), format(truetype)
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url(./fonts/Roboto/Roboto-Regular.ttf), format(truetype)
}